



## Tech Stack
<!-- Count how manny on the list then estiate the cells -->
<table align=center style>
  <tbody>
    {{#techRows}}
    <tr>
      {{#row}}
      <td style="padding: 20px; text-align: center;">
        <img src="{{src}}" width="48" height="48" alt="{{name}}" />    
        <p style="margin: 8px 0 0 0; font-size: 14px;">{{name}}</p>
      </td>
      {{/row}}
    </tr>
    {{/techRows}}
  </tbody>
</table>